:root{
--ecru: #D6B77Aff;
--night: #141414;
--buff: #E0A172ff;
--dark-pastel-green: #52C653ff;
--myrtle-green: #496F6Dff;
--branco: #fff;


--v1: #46AF4B;
--v2:#00B074;
--v3: #5D8458;
--v4:#009786;
--a1:#007D87;
--a2:#006276;
}

