.header-bg{
  background: #07AC3F;
}

/* .header{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
} */

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo{
  width: 200px;
  margin: 10px;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  color: white;
}

.header-menu a{
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  /* margin: 16px; */

  
}

.header-menu a:hover{
  color: var(--hgreen);
  transition: 0.3s;
}


/* INTRODUÇÃO */
.introducao-bg{
  background: var(--p1green);
}

.introducao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  color:#fff;
  /* height: 400px; */
  /* adicionado */
  /* width: 100%;
  height: 400px;  */
}

.introducao-conteudo{
  align-self: end;
  padding-bottom: 200px;
  /* justify-content: center;
  margin: 20px; */
}

.detalhe{
  color: #e91821;
  border-radius: 20px;
}

.introducao h1{
  margin-bottom: 32px;
}

.introducao p{
  margin-bottom: 20px;
  /* font-size: 16px;
  font-weight:300; */
}

.introducao img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* trocar de arquivo */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: #077e2f;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--p1g);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  transition: 0.3s;
}

.botao:hover {
  background: var(--hgreen);
}

/* .header-container{
  max-width: 1900px;
  display: flex;
  padding: 40px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: red; 
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a{
  background-color: blanchedalmond;
  display: block;
  font-size: 1.125rem;
  padding: 10px 20px;
  text-decoration: none;
  gap: 10px;
  color: black;
}

/* .header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  display: flex;
} */
/* 
nav ul li {
  display: inline;
  margin-right: 20px;

} */
/* 
.validator{
display: flex;
align-content: flex-end;
margin: 10px;
background-color: green;
} */ 